<app-header></app-header>
  <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
          <br> <br> <br> <br> 
            <div class="fixTableHead">
              <table>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody class="container">
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                   <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                   <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                   <tr>
                    <td><button class="btnclose">x</button></td>
                    <td>Lorem ipsum dolor</td>
                    <td>fd</td>
                    <td>5</td>
                    <td>100</td>
                    <td><button type="button" class="btn btn-warning">Edit</button></td>
                  </tr>
                  
                </tbody>
                  
              </table>
            </div>
      </div>
      <div class="col-sm-1"></div>
  </div>
  
<app-footer></app-footer>