.col-sm-3{
    text-align: center;
    font-weight: bold;
}
.Vegetables{
   color:  #56aa35;
   font-weight: bold;
}
    .Vegetables:hover{
       background-color: #56aa35af;
       color: white;
       border-radius:7%;
    }
.Fruits{
    color:  #56aa35;
    font-weight: bold;
 }
    .Fruits:hover{
        background-color: #56aa35af;
        color: white;
        border-radius:7%;
    }
 .Juice{
    color:  #56aa35;
    font-weight: bold;
 }
    .Juice:hover{
        background-color: #56aa35af;
        color: white;
        border-radius:7%;
    }
 .Dried{
    color:  #56aa35;
    font-weight: bold;
 }
    .Dried:hover{
        background-color: #56aa35af;
        color: white;
        border-radius:7%;
    }

.btn-success{
   background-color: #56aa35;
   font-weight: bold;
}

