<br><br><br><br>
<div class="row ">
    <div class="col-sm-4"></div>
    <div class="row col-sm-4" style="padding-bottom:1%;padding-top:1%;">
        <a class=" col-sm-3 Vegetables"  href="#">Vegetables </a>
        <a class="col-sm-3 Fruits"  href="#">Fruits </a>
        <a class="col-sm-3 Juice"  href="#">Juice </a>
        <a class="col-sm-3 Dried"  href="#">Dried </a>
    </div>
    <div class="col-4" ></div>
</div>
<br>
<div class="card-deck">
    <div class="row">
        <div class="col-1" ></div>
        <div class="col-10">
             <div class="row">
                  <div class="col-sm-3">
                    <img class="card-img-top" src="assets/images/product-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">$120.00 $80.00</small></p>
                      <div><button  class="btn btn-success">Add To Cart</button></div>
                    </div>
                  </div>
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-1.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-3.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
                  <div class=" col-sm-3">
                    <img class="card-img-top" src="assets/images/product-4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div> 
             </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>